{% extends "base.html" %}

{% block content %}
<div class="col-12">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        Новое сообщение
                    </h3>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <div class="card-footer">
                    {% if perms.blog.change_message or user == product.owner or user.is_superuser %}
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
