{% extends "base.html" %}

{% block content %}
<style>
    /* Стили для карточек сообщений */
    .card {
        background-color: #ffffff; /* Белый фон карточки */
        border-radius: 10px; /* Скругление углов карточки */
        box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Тень для карточки */
        transition: all 0.3s ease; /* Плавное изменение состояния при наведении */
        position: relative; /* Относительное позиционирование для абсолютного позиционирования кнопок */
    }
    .card:hover {
        transform: translateY(-5px); /* Небольшое поднятие карточки при наведении */
        box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Более выразительная тень при наведении */
    }
    /* Стили для изображений в карточке */
    .card-img-top {
        border-top-left-radius: 10px; /* Скругление верхнего левого угла изображения */
        border-top-right-radius: 10px; /* Скругление верхнего правого угла изображения */
        object-fit: cover; /* Изображение заполняет всю площадь, сохраняя пропорции */
        height: 200px; /* Фиксированная высота изображения */
    }
    /* Стили для заголовка карточки */
    .card-title {
        color: #333333; /* Цвет текста заголовка */
        font-weight: bold; /* Жирный шрифт */
    }
    /* Стили для текста в карточке */
    .card-text {
        color: #666666; /* Цвет обычного текста */
    }
    /* Скрытие кнопок "Редактировать" и "Удалить" по умолчанию */
    .btn-group {
        position: absolute;
        bottom: 10px;
        right: 10px;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    .card:hover .btn-group {
        opacity: 1;
    }
</style>
<div class="row">
    {% for message in messages %}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
            <a href="{% url 'message_detail' slug=message.slug %}">
                <img src="{{ message.image.url }}" alt="{{ message.title }}" class="card-img-top">
            </a>
            <div class="card-body">
                <h4 class="card-title">{{ message.title }}</h4>
                <p class="card-text">{{ message.description|truncatechars:88 }}</p>
                <p class="card-text">{{ message.views }} &#x1F441;</p>
                <div class="btn-group">
                    {% if perms.blog.change_message or user == product.owner or user.is_superuser %}
                    <a href="{% url 'message_form' slug=message.slug %}" class="btn btn-dark btn-sm">&#9998;</a>
                    {% endif %}
                    {% if perms.blog.delete_message or user == product.owner or user.is_superuser %}
                    <a href="{% url 'message_confirm_delete' pk=message.pk %}"
                       class="btn btn-danger btn-sm">&#128465;</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
