<!-- users/templates/users/password_reset.html -->
{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-8 col-12 mt-5">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h2 class="mb-0">Сброс пароля</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Сбросить пароль</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
