<!-- users/templates/users/reset_password_done.html -->
{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-8 col-12 mt-5">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h2 class="mb-0">Пароль сброшен</h2>
                </div>
                <div class="card-body">
                    <p>На ваш email был отправлен новый пароль.</p>
                    <a href="{% url 'users:login' %}" class="btn btn-primary">Войти</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
