{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-8 col-12 mt-5">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h2 class="mb-0">{{ header_title }}</h2>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="mb-3 row">
                            <div class="col-sm-10 offset-sm-2">
                                <button type="submit" class="btn btn-primary, btn-lg">Сохранить</button>
                                <a class="btn btn-secondary" href="{{ cancel_url }}">Отмена</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
