{% extends "base.html" %}

{% block content %}
<style>
    .card-text {
        /*overflow: hidden;  Скрыть текст, который не помещается в ограниченное пространство */
        text-overflow: ellipsis; /* Отображать многоточие для обрезанного текста */
        /*white-space: nowrap;  Предотвращаем перенос строк */
        color: #d4d6d6
    }
    .card:hover .card-text {
    color: white;
    }
    .card:hover .card-title {
    color: lightgreen; /* Зеленый цвет */
    }
    .card:hover .card-img {
            transform: scale(1.03); /* Увеличиваем масштаб картинки на 10% при наведении */
            transition: transform 0.3s ease; /* Добавляем плавный переход */
        }
    .card:hover {
            transform: scale(1.02); /* Увеличиваем масштаб карточки на 5% при наведении */
            transition: transform 0.2s ease; /* Добавляем плавный переход */
        }

</style>
<div class="container mt-4"> <!-- Добавляем класс mt-4 для создания отступа сверху -->
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <a href="{% url 'product_detail' product.id %}"> <!-- Ссылка на страницу с деталями товара -->
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img">
                </a>
                <div class="card-body">
                    <h4 class="card-title">{{ product.name }}</h4>
                    <h5>{{ product.price }} руб.</h5>
                    <p class="card-text">{{ product.description | truncatechars:88 }}</p>
                    <a href="{% url 'edit_product' product.id %}">
                        <button class="btn btn-dark btn-sm float-right">&#9998;</button>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
