{% extends "base.html" %}

{% block content %}
<style>
    /* Стили для увеличения картинок при наведении курсора */
    .card {
        overflow: hidden; /* Скрыть контент, выходящий за пределы карточки */
    }

    .card:hover .card-img {
        transform: scale(1.03); /* Увеличиваем масштаб картинки на 10% при наведении */
        transition: transform 0.3s ease; /* Добавляем плавный переход */
    }
    .card:hover .card-text {
    color: #00aaff; /* Голубой цвет */
}
    .card:hover .card-title {
    color: lightgreen; /* Зеленый цвет */
}

</style>

<div class="container mt-4"> <!-- Добавляем класс mt-4 для создания отступа сверху -->
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <h5>{{ product.price }} руб.</h5>
                    <p class="card-text">{{ product.description}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
