{% extends "base.html" %}

{% block content %}
<style>
    .card-img {
        width: 100%; /* Устанавливаем ширину изображения на 100% от родительского контейнера (карточки) */
        height: 400px; /* Устанавливаем фиксированную высоту изображения */
        object-fit: cover; /* Подгоняем изображение под размеры контейнера с сохранением пропорций */
    }

</style>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img">
                <div class="card-body">
                    <h1 class="card-title">{{product.name}}</h1>
                    <h3>{{product.price}} рублей</h3>
                    <p class="card-text">{{product.description}}</p>
                    <a href="{% url 'product_list' %}">
                        <button class="btn btn-dark">&#129184; Вернуться</button>
                    </a>
                    {% if perms.catalog.delete_product or user == product.owner or user.is_superuser %}
                    <a href="{% url 'product_confirm_delete' pk=product.pk %}">
                        <button class="btn btn-danger float-right ml-2">Удалить &#128465;</button>
                    </a>
                    {% endif %}
                    {% if perms.catalog.can_edit_category or user == product.owner or user.is_superuser %}
                    <a href="{% url 'product_form' slug=product.slug %}">
                        <button class="btn btn-dark float-right">Редактировать &#9998;</button>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

