{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-8 col-12 mt-5">
            <div class="card">
                <div class="card-header bg-success text-white">
                    {% if is_editing %}
                    <h2 class="mb-0">Изменить товар</h2>
                    {% else %}
                    <h2 class="mb-0">Редактировать</h2>
                    {% endif %}
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3 row">
                            <label for="name" class="col-sm-2 col-form-label">Название:</label>
                            <div class="col-sm-10">
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="price" class="col-sm-2 col-form-label">Цена:</label>
                            <div class="col-sm-10">
                                {{ form.price }}
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="description" class="col-sm-2 col-form-label">Описание:</label>
                            <div class="col-sm-10">
                                {{ form.description }}
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="image" class="col-sm-2 col-form-label">Картинка:</label>
                            <div class="col-sm-10">
                                {{ form.image }}
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col-sm-10 offset-sm-2">
                                <button type="submit" class="btn btn-primary">Сохранить</button>
                                <a class="btn btn-secondary" href="{% url 'product_list' %}">Отмена</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
